---
import logoPng from '../../assets/logo.png'
import { getLinks } from "./navigationUtils.js";
import AuthModule, { user } from "../auth/authModule.js";

const pathname = location.pathname;
const links = getLinks(pathname);
const currentUser = user.get();
---

<nav class="bg-indigo-700 text-white fixed top-0 left-0 right-0 z-50">
    <div class="max-w-7xl mx-auto h-16 flex items-center justify-between px-4">
      <a href="/" class="flex items-center gap-2 h-full">
        <img class="w-8 h-8" src={logoPng.src} alt="logo">
        <h2 class="font-medium text-xl">DigiClin</h2>
      </a>
      <div id="nav-links" class="flex items-center gap-4">
        <!-- Genera los enlaces y botones dinámicamente -->
        {links.map(link => {
          if (link.type === 'button') {
            // Si es un botón, crea un elemento <button>
            return <button id="logout-btn" class="hidden md:block bg-red-500 hover:bg-red-600 px-3 py-1 rounded-md text-white no-underline cursor-pointer">{link.text}</button>
          }
          // Si es un enlace, crea un elemento <a>
          return <a class="hidden md:block text-white no-underline hover:underline" href={link.path}>{link.text}</a>
        })}

        <!-- Muestra el email del usuario si ha iniciado sesión -->
        {currentUser && (
          <span class="text-sm hidden md:block border-l border-gray-400 pl-4">
            {currentUser.email}
          </span>
        )}
      </div>
    </div>
</nav>

<script>
  // @ts-nocheck
  const navLinksDiv = document.querySelector('#nav-links'); 
  const navUserName = document.querySelector('#nav-user-name');
  const logoutBtn = document.querySelector('#logout-btn');

  links.forEach(link => {
    if (link.type === 'button') {
      const btn = document.createElement('button');
      btn.addEventListener('click', link.handler);
      btn.innerHTML = link.text;
      navLinksDiv.append(btn)
    } else {
      const a = document.createElement('a');
      a.href = link.path;
      a.setAttribute('class', 'hidden md:block text-white no-underline hover:underline');
      a.innerHTML = link.text;
      navLinksDiv.append(a);
    }
  });

  user.subscribe(user => {
    if (!user) return;
    const userName = user.email.split('@')[0];
    navUserName.innerHTML = `Bienvenido ${userName}`
  });
  
</script>